<section>
  <div class="page-header">
    <div class="col-sm-offset-2">
      <h1>{{vm.taskapplication._id ? 'Edit Taskapplication' : 'Apply to ' + vm.taskgroup.name }}</h1>
    </div>
  </div>
  <div class="col-md-12">
    <form name="vm.form.taskapplicationForm" class="form-horizontal" ng-submit="vm.save(vm.form.taskapplicationForm.$valid)" novalidate>
      <fieldset>
        <!-- Firstname -->
        <div class="form-group" show-errors>
          <label class="control-label col-sm-2" for="firstname">First Name</label>
          <div class="col-sm-10">
            <input name="firstname" type="text" ng-model="vm.firstname" id="firstname" class="form-control" placeholder="Firstname" required>
          </div>
          <div ng-messages="vm.form.taskapplicationForm.firstname.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Taskapplication firstname is required.</p>
          </div>
        </div>
        <!-- Lastname -->
        <div class="form-group" show-errors>
          <label class="control-label col-sm-2" for="lastname">Lastname</label>
          <div class="col-sm-10">
            <input name="lastname" type="text" ng-model="vm.lastname" id="lastname" class="form-control" placeholder="Lastname" required>
          </div>
          <div ng-messages="vm.form.taskapplicationForm.lastname.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Taskapplication lastname is required.</p>
          </div>
        </div>
        <!-- Program -->
        <div class="form-group" show-errors>
          <label class="control-label col-sm-2" for="program">Program</label>
          <div class="col-sm-10">
            <input name="program" type="text" ng-model="vm.taskapplication.program" id="program" class="form-control" placeholder="Ex: D11, W14, M13" required>
          </div>
          <div ng-messages="vm.form.taskapplicationForm.program.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Taskapplication program is required.</p>
          </div>
        </div>
        <!-- Email -->
        <div class="form-group" show-errors>
          <label class="control-label col-sm-2" for="email">Email</label>
          <div class="col-sm-10">
            <input name="email" type="text" ng-model="vm.taskapplication.email" id="email" class="form-control" required>
          </div>
          <div ng-messages="vm.form.taskapplicationForm.email.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Taskapplication email is required.</p>
          </div>
        </div>
        <!-- Phone -->
        <div class="form-group" show-errors>
          <label class="control-label col-sm-2" for="phone">Phone</label>
          <div class="col-sm-10">
           <input name="phone" type="text" ng-model="vm.taskapplication.phone" id="phone" class="form-control" required>
          </div>
          <div ng-messages="vm.form.taskapplicationForm.phone.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Taskapplication phone is required.</p>
          </div>
        </div>
        <!-- Foodpref -->
        <div class="form-group" show-errors>
          <label class="control-label col-sm-2" for="foodpref">Foodpreferens</label>
          <div class="col-sm-10">
            <input name="foodpref" type="text" ng-model="vm.taskapplication.foodpref" id="foodpref" class="form-control" required>
          </div>
          <div ng-messages="vm.form.taskapplicationForm.foodpref.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Taskapplication foodpref is required.</p>
          </div>
        </div>
        <!-- Motivation -->
        <div class="form-group" show-errors>
          <label class="control-label col-sm-2" for="motivation">Motivation (max 250 words)</label>
          <div class="col-sm-10">
            <textarea name="motivation" type="text" rows="5" ng-model="vm.taskapplication.motivation" id="motivation" class="form-control" required></textarea>
          </div>
          <div ng-messages="vm.form.taskapplicationForm.motivation.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Taskapplication motivation is required.</p>
          </div>
        </div>
        <!-- First Choice -->
        <div class="form-group" show-errors>
          <label class="control-label col-sm-2">First Choice</label>
          <div class="col-sm-10">
            <select name="first" class="form-control" ng-model="vm.firstchoice">
              <option ng-repeat="task in vm.taskgroup.tasks">{{ task.name }}</option>
            </select>
          </div>
        </div>
        <!-- Second Choice -->
        <div class="form-group" show-errors>
          <label class="control-label col-sm-2">Second Choice</label>
          <div class="col-sm-10">
            <select name="second" class="form-control" ng-model="vm.secondchoice">
              <option ng-repeat="task in vm.taskgroup.tasks">{{ task.name }}</option>
            </select>
          </div>
        </div>
        <!-- Third Choice -->
        <div class="form-group" show-errors>
          <label class="control-label col-sm-2">Third Choice</label>
          <div class="col-sm-10">
            <select name="third" class="form-control" ng-model="vm.thirdchoice">
              <option ng-repeat="task in vm.taskgroup.tasks">{{ task.name }}</option>
            </select>
          </div>
        </div>
        <!-- Submit -->
        <hr>
        <div class="form-group">
          <div class="col-sm-3 col-sm-offset-2">
            <button ng-show="vm.taskapplication._id" ng-click="goBack" class="btn btn-default">Go back</button>
            <button type="submit" class="btn btn-primary btn-lg">{{vm.taskapplication._id ? 'Update' : 'Apply now'}}</button>
          </div>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
