<section>
  <div class="page-header">
    <div class="col-sm-offset-2">
      <h3>{{vm.taskapplication._id ? '' : 'Ansök till ' + vm.taskgroup.name }}</h3>
      <h3>{{vm.taskapplication._id ? 'Edit Taskapplication' : 'Apply to ' + vm.taskgroup.engname }}</h3>
    </div>
  </div>
  <div class="col-md-12">
    <form name="vm.form.taskapplicationForm" class="form-horizontal" ng-submit="vm.save(vm.form.taskapplicationForm.$valid)" novalidate>
      <fieldset>
        <!-- Firstname -->
        <div class="form-group" show-errors>
          <label class="control-label col-sm-2" for="firstname">Förnamn / First Name</label>
          <div class="col-sm-10">
            <input name="firstname" type="text" ng-model="vm.firstname" id="firstname" class="form-control" placeholder="Firstname" required>
          </div>
          <div ng-messages="vm.form.taskapplicationForm.firstname.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Taskapplication firstname is required.</p>
          </div>
        </div>
        <!-- Lastname -->
        <div class="form-group" show-errors>
          <label class="control-label col-sm-2" for="lastname">Efternamn / Lastname</label>
          <div class="col-sm-10">
            <input name="lastname" type="text" ng-model="vm.lastname" id="lastname" class="form-control" placeholder="Lastname" required>
          </div>
          <div ng-messages="vm.form.taskapplicationForm.lastname.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Taskapplication lastname is required.</p>
          </div>
        </div>
        <!-- Program -->
        <div class="form-group" show-errors>
          <label class="control-label col-sm-2" for="program">Program / Education</label>
          <div class="col-sm-10">
              <select name="program" ng-model="vm.myProgram" ng-options="program for program in vm.programs" class="my_select_box">
              </select>
          </div>
          <div ng-messages="vm.form.taskapplicationForm.program.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Taskapplication program is required.</p>
          </div>
        </div>
        <!-- Year -->
        <div class="form-group" show-errors>
          <label class="control-label col-sm-2" for="year">Årskurs / Year</label>
          <div class="col-sm-10">
            <input name="year" type="text" ng-model="vm.taskapplication.year" id="year" class="form-control" placeholder="Ex: V12, L13, D11" required>
          </div>
          <div ng-messages="vm.form.taskapplicationForm.year.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Taskapplication year is required.</p>
          </div>
        </div>
        <!-- Email -->
        <div class="form-group" show-errors>
          <label class="control-label col-sm-2" for="email">Epost / Email</label>
          <div class="col-sm-10">
            <input name="email" type="text" ng-model="vm.taskapplication.email" id="email" class="form-control" required>
          </div>
          <div ng-messages="vm.form.taskapplicationForm.email.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Taskapplication email is required.</p>
          </div>
        </div>
        <!-- Phone -->
        <div class="form-group" show-errors>
          <label class="control-label col-sm-2" for="phone">Telefonnummer / Phonenumber</label>
          <div class="col-sm-10">
           <input name="phone" type="text" ng-model="vm.taskapplication.phone" id="phone" class="form-control" required>
          </div>
          <div ng-messages="vm.form.taskapplicationForm.phone.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Taskapplication phone is required.</p>
          </div>
        </div>
        <!-- Foodpref -->
        <div class="form-group" show-errors>
          <label class="control-label col-sm-2" for="foodpref">Matpreferens / Foodpreferens</label>
          <div class="col-sm-10">
            <input name="foodpref" type="text" ng-model="vm.taskapplication.foodpref" id="foodpref" class="form-control" >
          </div>
          <div ng-messages="vm.form.taskapplicationForm.foodpref.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Taskapplication foodpref is required.</p>
          </div>
        </div>
        <!-- Tshirt size -->
        <div class="form-group" show-errors>
          <label class="control-label col-sm-2" for="tshirtsize">Tröjstorlek / Tshirt Size  (unisex)</label>
          <div class="col-sm-10">
              <select name="tshirtsize" ng-model="tshirtsize" class="size_select_box">
                <option value="S">S</option>
                <option value="M">M</option>
                <option value="L">L</option>
                <option value="XL">XL</option>
              </select>
          </div>
          <div ng-messages="vm.form.taskapplicationForm.tshirtsize.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Tshirtsize is required.</p>
          </div>
        </div>
        <!-- Driver License -->
        <div class="form-group" show-errors>
          <div class="col-sm-10 col-sm-offset-2">
            <label>
              Har du B-körkort? / Do you have a driver's license?
            </label>
            </label>
            <br />
            <label>
              <input name="driverLicense" type="radio" ng-model="driverLicense" id="driverLicense" value="yes"> Ja / Yes
            </label>
            <br />
            <label>
              <input name="driverLicense" type="radio" ng-model="driverLicense" id="driverLicense" value="no"> Nej / No
            </label>
          </div>
          <div ng-messages="vm.form.taskapplicationForm.driverLicense.$error" role="alert">
            <p class="help-block error-text" ng-message="required">If applicant has a driver license is required.</p>
          </div>
        </div>
        <!-- Attend Gasque -->
        <div class="form-group" show-errors>
          <div class="col-sm-10 col-sm-offset-2">
            <label>
              Kan du komma på Gasquen den 16 november? / Can you attend the banquet the 16 november?
            </label>
            <br />
            <label>
              <input name="attendGasque" type="radio" ng-model="attendGasque" id="attendGasque" value="yes"> Ja / Yes
            </label>
            <br />
            <label>
              <input name="attendGasque" type="radio" ng-model="attendGasque" id="attendGasque" value="no"> Nej / No
            </label>
          </div>
          <div ng-messages="vm.form.taskapplicationForm.attendGasque.$error" role="alert">
            <p class="help-block error-text" ng-message="required">If applicant can attend the gasque is required.</p>
          </div>
        </div>
        <!-- Attend Kickoff -->
        <div class="form-group" show-errors>
          <div class="col-sm-10 col-sm-offset-2">
            <label>
              Kan du komma på värdkickoffen den 12 oktober? / Can you attend the hosts kickoff the 12 of october?
            </label> 
            <br />
            <label>
              <input name="attendKickoff" type="radio" ng-model="attendKickoff" id="attendKickoff" value="yes"> Ja / Yes
            </label>
            <br />
            <label>
              <input name="attendKickoff" type="radio" ng-model="attendKickoff" id="attendKickoff" value="no"> Nej / No
            </label>
          </div>
          <div ng-messages="vm.form.taskapplicationForm.attendGasque.$error" role="alert">
            <p class="help-block error-text" ng-message="required">If applicant can attend the gasque is required.</p>
          </div>
        </div>
        <!-- Motivation -->
        <div class="form-group" show-errors>
          <label class="control-label col-sm-2" for="motivation">Motivering (max 250 ord) / Motivation (max 250 words)</label>
          <div class="col-sm-10">
            <p class="small">Kort om dig själv, relevanta meriter och tidigare engagemang / Short description about yourself, relevant qualifications and engagements.  </p>
            <textarea name="motivation" type="text" rows="5" ng-model="vm.taskapplication.motivation" id="motivation" class="form-control" required></textarea>
          </div>
          <div ng-messages="vm.form.taskapplicationForm.motivation.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Taskapplication motivation is required.</p>
          </div>
        </div>
        <!-- First Choice -->
        <div class="form-group" show-errors>
          <label class="control-label col-sm-2">Förstaval / First Choice</label>
          <div class="col-sm-10">
            <select name="first" class="form-control" ng-model="vm.firstchoice" required>
              <option ng-repeat="task in vm.taskgroup.tasks">{{ task.name }}</option>
            </select>
          </div>
        </div>
        <!-- Second Choice -->
        <div class="form-group" show-errors>
          <label class="control-label col-sm-2">Andraval / Second Choice</label>
          <div class="col-sm-10">
            <select name="second" class="form-control" ng-model="vm.secondchoice">
              <option ng-repeat="task in vm.taskgroup.tasks">{{ task.name }}</option>
            </select>
          </div>
        </div>
        <!-- Third Choice -->
        <div class="form-group" show-errors>
          <label class="control-label col-sm-2">Tredjeval / Third Choice</label>
          <div class="col-sm-10">
            <select name="third" class="form-control" ng-model="vm.thirdchoice">
              <option ng-repeat="task in vm.taskgroup.tasks">{{ task.name }}</option>
            </select>
          </div>
        </div>

        <!-- Pick company -->
        <div class="form-group jumbotron" ng-show="vm.firstchoice.includes(vm.cmphst) || vm.secondchoice.includes(vm.cmphst) || vm.thirdchoice.includes(vm.cmphst)">
          <h3 class="col-sm-offset-1 col-sm-10">Tillval för Företagsvärd / Optionals for Company Hosts</h3>
          <div class="col-sm-10 col-sm-offset-1">
            <p>
              Som företagsvärd får du lämna in önskemål om vilket företag du vill ta hand om. Du får välja max fem st. Välj i den ordning där först är den du helst vill ha.
            </p>
          </div>
          <div class="col-sm-10 col-sm-offset-1">
            <p >
              As a company host you are allowed to desire up to five companies you want to care of. Select them in the order you prioritize.
            </p>
          </div>
          <hr>
          
          <div class="col-sm-10 col-sm-offset-1">
            <select name="program" ng-model="vm.chosenCompanies" ng-options="company.name for company in vm.companies" multiple class="company_select_box">
            </select>
            <label for="filter">
              <input type="checkbox" ng-model="showCompanies" ng-change="toggleFilter()" id="filter" />
              Visa list över företag kopplade till min utbildning / Show list of companies connected to my education
            </label>
            <div ng-show="showCompanies">
              <p ng-repeat="company in vm.displayCompanies">{{ company.name }}</p>
            </div>
          </div>
        </div>

        <!-- Submit -->
        <hr>
        <div class="form-group">
          <div class="col-sm-3 col-sm-offset-2">
            <button ng-show="vm.taskapplication._id" ng-click="goBack" class="btn btn-default">Go back</button>
            <button type="submit" class="btn btn-primary btn-lg">{{vm.taskapplication._id ? 'Update' : 'Ansök nu / Apply now'}}</button>
          </div>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
