<section>
  <div class="page-header">
    <h1>Taskapplications</h1>
  </div>
 <div class="row">
    <div class="jumbotron">
      <table id="applicationsList" class="table table-striped compact table-bordered nowrap" >
        <thead>
          <tr>
            <th></th>
            <th>Created</th>
            <th>Name</th>
            <th>Program</th>
            <th>Year</th>
            <th>Points</th>
            <th>First Choice</th>
            <th>Second Choice</th>
            <th>Third Choice</th>
            <th>Chosen Companies</th>
            <th>Driver License</th>
            <th>Attend Gasque</th>
            <th>Attend Kickoff</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Tshirtsize</th>
            <th>Assigned Task</th>
          </tr>
          <tr>
            <th></th>
            <th>Created</th>
            <th>Name</th>
            <th>Program</th>
            <th>Year</th>
            <th>Points</th>
            <th>First Choice</th>
            <th>Second Choice</th>
            <th>Third Choice</th>
            <th>Chosen Companies</th>
            <th>Driver License</th>
            <th>Attend Gasque</th>
            <th>Attend Kickoff</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Tshirtsize</th>
            <th>Assigned Task</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th></th>
            <th>Created</th>
            <th>Name</th>
            <th>Program</th>
            <th>Year</th>
            <th>Points</th>
            <th>First Choice</th>
            <th>Second Choice</th>
            <th>Third Choice</th>
            <th>Chosen Companies</th>
            <th>Driver License</th>
            <th>Attend Gasque</th>
            <th>Attend Kickoff</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Tshirtsize</th>
            <th>Assigned Task</th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
  <button ng-json-excel ng-click="myOnclickFunction(datafields, vm.taskapplications)" class="btn btn-warning">Exportera till csv-fil</button>
  <!--button ng-json-excel data="vm.taskapplications" report-fields="{name: 'Name', program: 'Program', email: 'Email', phone: 'Phone', foodpref: 'Food preference', motivation: 'Motivation'}", filename =" 'export-excel' " class="css-class">Exportera till Excel</button-->
  <div class="alert alert-warning text-center" data-ng-if="vm.taskapplications.$resolved && !vm.taskapplications.length">
    No Taskapplications yet, why don't you <a data-ui-sref="taskapplications.create">create one</a>?
  </div>
</section>
