<section>
  <div class="page-header">

    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <!-- Name -->
        <h1 data-ng-bind="vm.taskapplication.name"></h1>
        <!-- Point -->
        <div class="row">
          <label for="point" class="col-sm-2">Points</label>
          <div class="col-sm-10">
            <p data-ng-bind="vm.taskapplication.point"></p>
          </div>
        </div>
        <!-- Program -->
        <div class="row">
          <label for="program" class="col-sm-2">Program</label>
          <div class="col-sm-10">
            <p data-ng-bind="vm.taskapplication.program"></p>
          </div>
        </div>
        <!-- Tshirtsize -->
        <div class="row">
          <label for="tshirtsize" class="col-sm-2">Tshirt size</label>
          <div class="col-sm-10">
            <p data-ng-bind="vm.taskapplication.tshirtsize"></p>
          </div>
        </div>
        <!-- Year -->
        <div class="row">
          <label for="year" class="col-sm-2">Year</label>
          <div class="col-sm-10">
            <p data-ng-bind="vm.taskapplication.year"></p>
          </div>
        </div>
        <!-- Email -->
        <div class="row">
          <label for="email" class="col-sm-2">Email</label>
          <div class="col-sm-10">
            <p data-ng-bind="vm.taskapplication.email"></p>
          </div>
        </div>
        <!-- Phone -->
        <div class="row">
          <label for="phone" class="col-sm-2">Phone</label>
          <div class="col-sm-10">
            <p data-ng-bind="vm.taskapplication.phone"></p>
          </div>
        </div>
        <!-- Foodpref -->
        <div class="row">
          <label for="foodpref" class="col-sm-2">Foodpref</label>
          <div class="col-sm-10">
            <p data-ng-bind="vm.taskapplication.foodpref"></p>
          </div>
        </div>
        <!-- International -->
        <div class="row">
          <label for="international" class="col-sm-2">Is internationtal student</label>
          <div class="col-sm-10">
            <p data-ng-bind="vm.taskapplication.internationalStudent"></p>
          </div>
        </div>
        <!-- Driver License -->
        <div class="row">
          <label for="driverLicense" class="col-sm-2">Has Driver License</label>
          <div class="col-sm-10">
            <p data-ng-bind="vm.taskapplication.driverLicense"></p>
          </div>
        </div>
        <!-- Attend Gasque -->
        <div class="row">
          <label for="attendGasque" class="col-sm-2">Can attend gasque</label>
          <div class="col-sm-10">
            <p data-ng-bind="vm.taskapplication.attendGasque"></p>
          </div>
        </div>
        <!-- Attend Kickoff -->
        <div class="row">
          <label for="attendKickoff" class="col-sm-2">Can attend the kickoff</label>
          <div class="col-sm-10">
            <p data-ng-bind="vm.taskapplication.attendKickoff"></p>
          </div>
        </div>
        <!-- First choice -->
        <div class="row">
          <label for="firstchoice" class="col-sm-2">First choice</label>
          <div class="col-sm-10">
            <p data-ng-bind="vm.taskapplication.choices[0].choice"></p>
          </div>
        </div>
        <!-- Second choice -->
        <div class="row">
          <label for="secondchoice" class="col-sm-2">Second choice</label>
          <div class="col-sm-10">
            <p data-ng-bind="vm.taskapplication.choices[1].choice"></p>
          </div>
        </div>
        <!-- Third choice -->
        <div class="row">
          <label for="thirdchoice" class="col-sm-2">Third choice</label>
          <div class="col-sm-10">
            <p data-ng-bind="vm.taskapplication.choices[2].choice"></p>
          </div>
        </div>
        <!-- Motivation -->
        <div class="row">
          <label for="motivation" class="col-sm-2">Motivation</label>
          <div class="col-sm-10">
            <textarea rows="5" class="form-control" data-ng-bind="vm.taskapplication.motivation" readonly></textarea>
          </div>
        </div>
        <!--Chosen companies -->
        <div class="row">
          <label for="companies" class="col-sm-2">Chosen companies</label>
          <div ng-show = "vm.taskapplication.chosenCompanies.length != 0"' class="col-sm-10">
            <ol>
              <li ng-repeat = "company in vm.taskapplication.chosenCompanies">
                {{company.name}}
              </li>
            </ol>
          </div>
      </div>
    </div>

  </div>
  <div class="pull-right">
    <a class="btn btn-primary"
       data-ui-sref="taskapplications.edit({ taskapplicationId: vm.taskapplication._id, taskgroupId: vm.taskapplication.taskgroup })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" data-ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span data-ng-bind="vm.taskapplication.created | date:'mediumDate'"></span>
      by
      <span data-ng-if="vm.taskapplication.user"
            data-ng-bind="vm.taskapplication.user.displayName"></span>
      <span data-ng-if="!vm.taskapplication.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" data-ng-bind="vm.taskapplication.content"></p>
</section>
