<section>
  <div class="page-header">

    <!-- SweName -->
    <h1 data-ng-bind="vm.taskgroup.name"></h1>
    <!-- EngName -->
    <h1 data-ng-bind="vm.taskgroup.engname"></h1>
    <hr>
    <!-- Description -->
    <h3>Description</h3>
    <div ng-bind-html="htmlDescription"></div>
    <br>

    <!-- Tasks -->    
    <div class="form-group">
        <h3>Tasks</h3>
        <table class="table table-bordered table-hover table-condensed">
          <tr style="font-weight: bold">
            <td style="width:20%">Name</td>
            <td style="width:70%">Description</td>
            <td style="width:10%">Quantity</td>
          </tr>
          <tr ng-repeat="task in vm.taskgroup.tasks">
            <td>
              <span>{{ task.name }}</span>
            </td>
            <td>
              <span>{{ task.description }}</span>
            </td>
            <td>
              <span>{{ task.quantity }}</span>
            </td>
          </tr>
        </table>
    </div>



  </div>
  <div class="pull-right"
       data-ng-show="vm.taskgroup.isCurrentUserOwner">
    <a class="btn btn-primary"
       data-ui-sref="taskgroups.edit({ taskgroupId: vm.taskgroup._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" data-ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span data-ng-bind="vm.taskgroup.created | date:'mediumDate'"></span>
      by
      <span data-ng-if="vm.taskgroup.user"
            data-ng-bind="vm.taskgroup.user.displayName"></span>
      <span data-ng-if="!vm.taskgroup.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" data-ng-bind="vm.taskgroup.content"></p>
</section>
